absl-py==0.15.0
alembic==1.13.3
antlr4-python3-runtime==4.9.3
astunparse==1.6.3
backports.zoneinfo==0.2.1
bottle==0.13.2
cachetools==5.5.0
certifi==2024.8.30
chamfer==2.0.0
charset-normalizer==3.3.2
click==8.1.7
colorlog==6.8.2
contourpy==1.1.1
cycler==0.12.1
dataclasses==0.6
docker-pycreds==0.4.0
easydict==1.13
filelock==3.16.1
flatbuffers==1.12
fonttools==4.54.1
fsspec==2024.9.0
future==1.0.0
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.34.1
h5py==3.1.0
hydra-core==1.3.2
idna==3.10
imageio==2.35.1
imgaug==0.4.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
Jinja2==3.1.4
joblib==1.4.2
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
kornia==0.7.3
kornia_rs==0.1.8
lazy_loader==0.4
libclang==18.1.1
llvmlite==0.41.1
loguru==0.7.2
lpips==0.1.4
lxml==5.3.1
Mako==1.3.6
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
-e git+https://github.com/sunshangquan/logit-standardization-KD.git@f6e5aa5172bad618e801163c3385322eea673754#egg=mdistiller
memory-profiler==0.61.0
micronet==1.12.0
mpmath==1.3.0
networkx==3.1
nibabel==5.2.1
numba==0.58.1
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.77
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.13.1
opencv-python==4.10.0.84
opt-einsum==3.3.0
optuna==4.0.0
optuna-dashboard==0.16.2
ordered-set==4.1.0
packaging==24.1
pandas==2.0.3
pillow==10.4.0
platformdirs==4.3.6
prettytable==3.11.0
protobuf==3.9.2
protocol==0.37
psutil==6.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydicom==2.4.4
pynndescent==0.5.13
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytorch-wavelets==1.3.0
pytz==2024.2
PyWavelets==1.4.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
seaborn==0.13.2
sentry-sdk==2.15.0
setproctitle==1.3.3
shapely==2.0.6
six==1.15.0
smmap==5.0.1
SQLAlchemy==2.0.36
sympy==1.13.3
tasklib==2.5.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow==2.10.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==1.1.0
threadpoolctl==3.5.0
tifffile==2023.7.10
torch==1.10.0+cu113
torchmeta==1.8.0
torchstat==0.0.7
torchvision==0.10.1
tqdm==4.66.5
triton==3.0.0
typing-extensions==3.7.4.3
tzdata==2024.2
umap==0.1.1
umap-learn==0.5.7
urllib3==2.2.3
urwid==2.6.16
vit==2.3.2
wandb==0.18.3
wcwidth==0.2.13
Werkzeug==3.0.4
wrapt==1.12.1
yacs==0.1.8
zipp==3.20.2
